POSTGRES_USER=proy2
POSTGRES_PASSWORD=secret
POSTGRES_DB=tienda_libros

DB_HOST=db
DB_PORT=5432
DB_USER=proy2
DB_PASSWORD=secret
DB_NAME=tienda_libros

JWT_SECRET=mi_secreto_jwt_super_seguro_2024
PORT=3000
